ul#questionLists
  - [1,2,3,4,5].forEach(function(q) {
    li.question.row
      a(href='/question/123/').row
        h3.span7 Question #{q} Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        div.infomation
          span.votecount(title='투표 수').span1 20
          span.answercount(title='답변 수').span1 30
      .row
        ul.tags.span6
          li.tag
            a(href="#").btn.btn-mini
              i.icon-tag
              |  python
          li.tag
            a(href="#").btn.btn-mini
              i.icon-tag
              |  java
          li.tag
            a(href="#").btn.btn-mini
              i.icon-tag
              |  node.js
          li.tag
            a(href="#").btn.btn-mini
              i.icon-tag
              |  ruby
        .author.span2
            a(href='/')
               img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda', width='20', height='20')
            a(href='/') Outsider
        time 2일 전
  - })