ul#questionLists.span-17.prepend-1
   - [1,2,3,4,5].forEach(function(q) {
      li.question
         p.span-13 Question #{q}
         span.viewcount(title='읽은 수').span-1 10
         span.votecount(title='투표 수').span-1 20
         span.ansercount(title='답변 수').span-1.last 30
         ul.tags.span-12.prepend-1.append-1
            li.tag stackoverflow
            li.tag node.js
            li.tag outsider
            li.tag mongoDB
         div.author.span-3
            a(href='/') Outsider
            span 2일 전
   - })