!!!
html
   head
      title= title
      // Framework CSS 
      link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/blueprint/print.css', media='print')
      /if IE
         link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/style.css')
      body!= body