!!!5
html
   head
      title= title
      // Framework CSS 
      link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/blueprint/print.css', media='print')
      /if IE
         link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/style.css')
      body
         header
            div
               h1#main-logo
                  a(href='/')= title
                  em#betatag alpha
               div#search
                  form
                     input(type='text')
                     input(type='submit', value='검색')
               nav
                  ul#main-menu
                     li: a(href='#') 인기 질문
                     li: a(href='#') 최근 질문 
                     li: a(href='#') 답변안된 질문 
                     li.nomargin: a(href='#') 사용자
         div.container
            div#contents.span-18!= body
            aside.span-4.prepend-1.last Sidebar
               button#postBtn  질문하기 
               div#login
                  ul
                     li Tw
                     li Fb
                     li m2
                     li goo
                div#recently-questions
                  최근 질문
                  ul
                     li 질문...
                     li 질문...
                     li 질문...
                div#recently-answers
                  최근 답변된 질문
                  ul
                     li 질문...
                     li 질문...
                     li 질문...
            footer.span-24 
               | Copyright &copy; 2011 
               a(href='http://sideeffect.kr/', target='_blank') Side Effect Studio 
               | | All rights reserved | Sources hosted in 
               a(href='https://github.com/outsideris/curlybrace', target='_blank') GitHub
        a(href='https://github.com/outsideris/curlybrace', target='_blank')
          img(style='position: absolute; top: 0; left: 0; border: 0;', src='https://d3nwyuy0nl342s.cloudfront.net/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67', alt='Fork me on GitHub')