!!!5
html
   head
      title= title
      // Framework CSS 
      link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/blueprint/print.css', media='print')
      /if IE
         link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', media='screen, projection')
      link(rel='stylesheet', href='/stylesheets/style.css')
      body
         div.container.showgrid
            header.span-24
               h1#main-logo.span-7
                  a(href='/')= title
                  em#betatag beta
               nav.span-13.prepend-3.last
                  ul#main-menu
                     li: a(href='#') 인기 질문
                     li: a(href='#') 최근 질문 
                     li: a(href='#') 답변안된 질문 
                     li.nomargin: a(href='#') 사용자 
            div#contents.span-18!= body
            aside.span-4.prepend-1.last Sidebar
               form#search
                  input(type='text')
                  input(type='submit', value='검색')
               button#postBtn  질문하기 
               div#login
                  ul
                     li Tw
                     li Fb
                     li m2
                     li goo
                div#recently-questions
                  최근 질문
                  ul
                     li 질문...
                     li 질문...
                     li 질문...
                div#recently-answers
                  최근 답변된 질문
                  ul
                     li 질문...
                     li 질문...
                     li 질문...
            footer.span-24.bottom 
               &copy; 2011 
               a(href='http://sideeffect.kr/', target='_blank') Side Effect