extends layout

block css
  link(rel='stylesheet', href='/stylesheets/token-input-facebook.css')

block mainContent
  article.row
    .question-box.span9
      .question-form
        form
          input(type='text', name='title', id='title', placeholder='제목')
          ul.nav.nav-tabs#editor-tabs
            li
              a(href='#editor', data-toggle='tab')#editor-tab Editor
            li
              a(href='#preview', data-toggle='tab')#preview-tab Preview
          .tab-content
            .tab-pane#editor
              textarea
            .tab-pane#preview
              #preview-box
          label(for=tags') 태그
          input(type='text', name='tags', id='tags')
          input(type='submit', value='질문하기').btn.btn-primary.pull-right.submit-btn

block scripts
  script(type='text/javascript', src='/javascripts/markdown.js')
  script(type='text/javascript', src='/javascripts/jquery.tokeninput.js')