article 
   div.question-vote.span-3.last
      div.span-2.prepend-1.last
         input(type='button', value='좋아요!', class='voting')
         span.votecount 20
         input(type='button', value='나빠요!', class='voting')
   div.question-box.span-15.last
      h3 질문 제목
      div.author.span-3.last
         a(href='/')
            img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
         a(href='/') Outsider
      div.question-text 질문 내용입니다.....
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....
      ul.tags.span-12.prepend-1.append-1
         li.tag
            a(href='#') stackoverflow
         li.tag
            a(href='#') node.js
         li.tag
            a(href='#') outsider
         li.tag
            a(href='#') mongoDB
      div.submenu
         ul
            li
               a(href='#') 공유 
            li
               a(href='#') 즐겨찾기 
            li
               a(href='#') 퍼머링크
            li
               a(href='#') 삭제 
            li
               a(href='#') 수정 
      time 2일 전
   div.comments-list.span-14.prepend-3
      div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
         b.author
            a(href='#') Outsider
         time 2일 전
      div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
         b.author
            a(href='#') Outsider
         time 2일 전
      div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
         b.author
            a(href='#') Outsider
         time 2일 전
   div.answers-list.span-16.prepend-1
      div.answer.span-16
         div.span-13
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
            |답변 내용입니다....
         span.votecount(title='투표 수').span-2.prepend-1.last 20
            div
               input(type='button', value='Up')
               input(type='button', value='Down')
         nav
            ul
               li 수정 
               li 퍼머링크
               li 즐겨찾기 
         div.author
            a(href='/') Outsider
            time 2일 전
         div.comments-list.span-13.prepend-3
            div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
               b.author
                  a(href='#') Outsider
               time 2일 전
            div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
               b.author
                  a(href='#') Outsider
               time 2일 전
            div.comment 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
               b.author
                  a(href='#') Outsider
               time 2일 전
