article 
   div.question-vote.span-3.last
      div.span-2.prepend-1.last
         input(type='button', value='좋아요!', class='voting')
         span.votecount 20
         input(type='button', value='나빠요!', class='voting')
   div.question-box.span-15.last
      h3 질문 제목
      div.author.span-3.last
         a(href='/')
            img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
         a(href='/') Outsider
      div.question-text 질문 내용입니다.....
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....  
         |질문 내용입니다.....
      ul.tags.span-12.prepend-1.append-1
         li.tag
            a(href='#') stackoverflow
         li.tag
            a(href='#') node.js
         li.tag
            a(href='#') outsider
         li.tag
            a(href='#') mongoDB
      div.submenu
         ul
            li
               a(href='#') 공유 
            li
               a(href='#') 즐겨찾기 
            li
               a(href='#') 퍼머링크
            li
               a(href='#') 삭제 
            li
               a(href='#') 수정 
      time 2일 전
      div.comments-list
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment.comment-write 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            form
               textarea
               input(type='submit', value='올리기').submit-btn
            div.clear        
   div.answer-vote.span-3.last
      div.span-2.prepend-1.last
         input(type='button', value='좋아요!', class='voting')
         span.votecount 20
         input(type='button', value='나빠요!', class='voting')
   div.answer-box.span-15.last
      div.author.span-3.last
         a(href='/')
            img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
         a(href='/') Outsider
      div.answer-text 
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
      ul.tags.span-12.prepend-1.append-1
         li.tag
            a(href='#') stackoverflow
         li.tag
            a(href='#') node.js
         li.tag
            a(href='#') outsider
         li.tag
            a(href='#') mongoDB
      div.submenu
         ul
            li
               a(href='#') 공유 
            li
               a(href='#') 즐겨찾기 
            li
               a(href='#') 퍼머링크
            li
               a(href='#') 삭제 
            li
               a(href='#') 수정 
      time 2일 전
      div.comments-list
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment.comment-write 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            form
               textarea
               input(type='submit', value='올리기').submit-btn
            div.clear
   div.answer-vote.span-3.last
      div.span-2.prepend-1.last
         input(type='button', value='좋아요!', class='voting')
         span.votecount 20
         input(type='button', value='나빠요!', class='voting')
   div.answer-box.span-15.last
      div.author.span-3.last
         a(href='/')
            img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
         a(href='/') Outsider
      div.answer-text 
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
         |답변 내용입니다....
      ul.tags.span-12.prepend-1.append-1
         li.tag
            a(href='#') stackoverflow
         li.tag
            a(href='#') node.js
         li.tag
            a(href='#') outsider
         li.tag
            a(href='#') mongoDB
      div.submenu
         ul
            li
               a(href='#') 공유 
            li
               a(href='#') 즐겨찾기 
            li
               a(href='#') 퍼머링크
            li
               a(href='#') 삭제 
            li
               a(href='#') 수정 
      time 2일 전
      div.comments-list
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            span 코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....코멘트 내용입니다....
            b.author
               a(href='#') Outsider
            time 2일 전
         div.comment.comment-write 
            div.profile
               a(href='/')
                  img(src='https://convore2.s3.amazonaws.com/userpics/000000/000000/000218/1296348099.jpg', alt='Avatar for tbeseda', title='tbeseda', width='30', height='30')
            form
               textarea
               input(type='submit', value='올리기').submit-btn
            div.clear