article.span-17.prepend-1.last.question-form
   form
      input(type='text', name='title', id='title').span-17.last
      textarea.span-17.last
      | 태그 
      input(type='text', name='tags', id='tags').span-17.last
      input(type='submit', value='질문하기').span-17.last.submit-btn
  