temp-boxing()
   border-width 1px
   border-color #000
   border-style double

body
   font 14px "Lucida Grande", Helvetica, Arial, sans-serif
   background url('/images/common/tophead.jpg') top repeat-x

// 헤더
header
   background url('/images/common/tophead.jpg') top repeat-x
   border-bottom 1px solid #CCC
   height 57px

#main-logo
   font-size 2em

header nav ul
   list-style none

header nav ul li
   float left
   margin-right 5px
   temp-boxing()

// 푸터
footer
   min-height 50px

// 컨텐츠
#contents
   min-height 500px

#questionLists
   list-style none

#questionLists .question
   min-height 70px
   margin-bottom 5px
   padding 5px
   temp-boxing()

#questionLists .question span.viewcount,
#questionLists .question span.votecount,
#questionLists .question span.ansercount

#questionLists .question ul.tags
   list-style none
   margin 0
   padding 0

#questionLists .question ul.tags li
   margin 0
   padding 0
   float left
   margin-right 3px
   padding 2px
   temp-boxing()

#questionLists .question div.author time
   margin-left 10px

// 글 읽기
article ul.tags
   list-style none
   margin 0
   padding 0

article ul.tags li
   margin 0
   padding 0
   float left
   margin-right 3px
   padding 2px
   temp-boxing()

article span.votecount div
   display block

article nav
   clear both

article nav ul
   list-style none

article nav ul li
   float left
   margin-right 5px
   temp-boxing()
   
article div.author
   clear both

article div.author time
   margin-left 10px

article div.comments-list
   margin-top 10px

article div.comment
   margin-top 10px

article div.answers-list
   margin-top 20px

article div.answer
   margin-bottom 10px
   temp-boxing()

// 사이드바
#postBtn
   display block
   width 100%
   height 50px

#login
   margin-top 5px
   temp-boxing()

#login ul
   list-style none

#login ul li
   floatleft
   margin-right 5px