temp-boxing()
  border-width 1px
  border-color #000
  border-style double

DARKGREY_COLOR = #424242
LIGHTGREY_COLOR = #B5B5B5
REDTONE_COLOR = #be2a2a
PINKTONE_COLOR = #a9646c
LIGHTBLUETONE_COLOR = #00678f
BULETONE_COLOR = #003761
WHITE_COLOR = #FFF
BACKGROUND_COLOR = #1d83a4

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

transform()
  vendor('transform', arguments)
   
@font-face
  font-family 'BebasNeueRegular'
  src url('/fonts/BebasNeue-webfont.eot')
  src url('/fonts/BebasNeue-webfont.woff') format('woff'), url('/fonts/BebasNeue-webfont.ttf') format('truetype'), url('/fonts/BebasNeue-webfont.svg#webfontYW4lu6A6') format('svg')
  font-weight normal
  font-style normal

body
  background-color #1d83a4

a
  text-decoration none
  color LIGHTBLUETONE_COLOR
  &:focus
  &:hover
    text-decoration none
    color REDTONE_COLOR

.clear
  clear both
   
// 헤더
#betatag
  font-size 0.4em
  font-style normal
  padding 0 5px
  margin-left 3px
  text-decoration none
  color WHITE_COLOR
  text-shadow none
  background-color #e12e01
  top -5px
  left 0
  position relative
  border-radius 7px
  display inline-block
  transform rotate(30deg)

.main-wrap
  padding-top 50px
  width 960px
  margin 0 auto

// 푸터
footer
  margin-top 20px
  padding 20px 0 20px 0
  text-align center
  font-size 0.8em

footer a
  color WHITE_COLOR
  &:focus
  &:hover
    color REDTONE_COLOR

// 컨텐츠
#contents
  min-height 500px
  background-color WHITE_COLOR
  border-radius 5px
  padding-top 5px

#questionLists
  margin-left 0

#questionLists .question
  border-top 1px dotted #B1B1B1
  min-height 50px

#questionLists .question h4
  color DARKGREY_COLOR
  margin-left 15px
  &:focus
  &:hover
    color REDTONE_COLOR

#questionLists .question .infomation
  float right
  width 110px
  margin-top 10px
  margin-left 10px

#questionLists .question span.votecount,
#questionLists .question span.answercount
  border-radius 30px
  float left
  background-color LIGHTBLUETONE_COLOR
  text-align center
  width 45px
  height 45px
  vertical-align middle
  line-height 45px
  font-size 1em
  color WHITE_COLOR
  margin-right 5px

#questionLists .question span.answercount
  background-color REDTONE_COLOR

#questionLists .question div.question-body
  margin 0 10px
  min-height 40px
   
#questionLists .question div.author
  border-left 1px solid #CCC
  padding 5px
  float right
  font-size 1.1em
  width 200px

#questionLists .question div.author img
  margin-right 5px
  width 30px
  height 30px

#questionLists .question time
  line-height 30px
  font-size 0.8em
  float right
  margin-right 15px

ul.tags
  font-size 0.7em
  margin-top 10px
  margin-left 35px

ul.tags li
  margin 0 5px 0 0
  float left
  & a
    color DARKGREY_COLOR

// 글 읽기
article .question-vote
  float right
  width 150px
  margin-left 20px
  margin-top 20px

article .question-vote span.votecount
  border-radius 30px
  background-color LIGHTBLUETONE_COLOR
  text-align center
  width 60px
  height 60px
  vertical-align middle
  line-height 60px
  font-size 1.6em
  color WHITE_COLOR
  float left
  margin-right 20px

article .question-vote button
  display block
  margin-left 10px
  margin-bottom 3px

article .question-vote button span
  font-size 1.5em;
  font-weight bold
  margin-left 2px

article .question-box
  border-top 1px dotted #B1B1B1
  padding-top 10px

article .question-box a h3
  color DARKGREY_COLOR
  margin-left 15px

article .socialbox ul li
  float right
  margin-left 10px

article .question-box .question-text
  padding 10px 10px 10px 20px
   
article div.author
  float right
  border-left 1px solid #CCC
  padding 5px
  width 200px

article div.author img.profile
  margin-right 5px

article div.author time
  float right

article time
  margin-left 10px
  color DARKGREY_COLOR
  font-size 0.8em

article div.submenu
  padding-top 20px

article div.submenu ul li
  float right
  margin-right 8px

article .submenu .commentMessage
  margin-left 35px
  float left

article .submenu .commentMessage span
  margin-left 5px

article div.commentsWrap
  margin-top 10px
  font-size 0.8em
  display: none

article div.comment
  border-top 1px dotted #B1B1B1
  padding 5px 10px 5px 5px
  margin-left 100px

article div.comment:after
  content ''
  display block
  clear both

article div.comment div.profile
  float left
  margin-right 10px
   
article div.comment b.author
  font-size 1.1em
  margin-right 10px

article div.comment span time
  color LIGHTGREY_COLOR
  font-size 0.8em

article div.comment-write
  border-top 1px dotted #B1B1B1
  padding 5px

article div.comment-write form
  display inline

article div.comment-write textarea
  width 90%
  margin 0 auto

article div.comment-write input[type='submit']
  margin-top 5px
   
article .answer-box
  padding-top 40px
  margin-top 10px

article section .answer-contents
  border-top 1px dotted #B1B1B1
  margin-left 10px
  padding-top 10px

article .answer-box .voting-box .answer-vote span.votecount
  border-radius 30px
  background-color LIGHTBLUETONE_COLOR
  text-align center
  width 60px
  height 60px
  vertical-align middle
  line-height 60px
  font-size 1.6em
  color WHITE_COLOR

article .answer-box .voting-box .answer-vote button
  display block
  margin-left 10px
  margin-bottom 3px

article .answer-box .voting-box .answer-vote button span
  font-size 1.5em;
  font-weight bold
  margin-left 2px

article .answer-box .socialbox
  padding-left 30px

article .answer-box .socialbox ul li
  float none
  margin-bottom 5px

article .answer-box .answer-text
  padding 10px

article .answer-box div.author
  float right
  border-left 1px solid #CCC
  padding 5px
  margin-left 7px

article .answer-box div.author img.profile
  margin-right 5px

article time
  margin-left 10px
  color DARKGREY_COLOR
  font-size 0.8em

article .answer-vote
  margin-top 10px
  margin-left 20px
  width 150px

article .answer-vote .voting
  background-color #2DAEBF
  &:hover
    background-color #009D9A

article .answer-vote .votecount
  display block
  text-align center
  font-size 2em
  font-weight bold
  float left
  margin-right 20px

article .answer-write-box
  border-top 1px dotted #B1B1B1
  margin-top 20px
  margin-bottom 20px

article .answer-write
  padding 10px

article .answer-write textarea
  width 98%
  min-height 200px
  margin 0 auto
  font-size 0.9em

article .answer-write .submit-btn
  margin-top 5px

// 사이드바
aside #postBtn
  width 190px

aside .labelbox
  margin-top 5px
  float left
  width 100%
   
aside .labelbox h4
  border-top 1px solid LIGHTGREY_COLOR
  border-bottom 1px solid LIGHTGREY_COLOR
  font-size 0.9em
  margin 10px 0 10px 0
  padding 10px 0 10px 10px
  font-size 1.5em
  font-wight bolder
  color WHITE_COLOR

aside .labelbox ul
  margin 5px
  padding-left 0.7em

aside .labelbox ul li
  line-height 1.5em

aside .labelbox ul li a
  color WHITE_COLOR
  &:focus
  &:hover
    color REDTONE_COLOR

// 질문 작성폼
article .question-form
  padding 10px 10px 10px 30px
  margin-top 20px
  margin-bottom 20px

article .question-form input[type=text]
  width 650px

article .question-form form #preview-box,
article .question-form form textarea
  min-height 500px
  font-size 0.9em
  width 650px

article .question-form form #preview-box
  width 635px
  border 1px solid LIGHTGREY_COLOR
  border-radius 4px
  padding 10px

// 태그용 facebook 테마 커스터마이징
article .question-form form ul.token-input-list-facebook
    overflow hidden
    cursor text
    min-height 1px
    z-index 999
    margin 0
    padding 0
    list-style-type none
    clear left
    width 650px
    display inline-block
    height 18px
    padding 4px
    margin-bottom 9px
    font-size 13px
    line-height 18px
    color #555555
    background-color #ffffff
    border 1px solid #cccccc
    border-radius 3px

// 로그인
.login
  padding-left 20px

.login ul
  margin-top 30px
  text-align center

.login ul li
  margin-bottom 30px

// 도움말
.help-box h2.header
  margin-left 15px

.help-box section h3.title
  padding-bottom 9px
  margin 20px 0 15px 30px
  border-bottom 1px solid LIGHTGREY_COLOR

.help-box .docs-markdown,
.help-box .docs-html
  position relative
  margin 15px 0
  padding 39px 19px 14px
  *padding-top 19px
  background-color #fff
  border 1px solid #ddd
  border-radius 4px
  width 280px

.help-box .docs-markdown
  float left
  margin-left 60px
  margin-right 10px

.help-box .docs-html
  float left

.help-box .docs-markdown:after,
.help-box .docs-html:after
  position absolute
  top -1px
  left -1px
  padding 3px 7px
  font-size 12px
  font-weight bold
  background-color #f5f5f5
  border 1px solid #ddd
  color #9da0a4
  -webkit-border-radius: 4px 0 4px 0
  -moz-border-radius: 4px 0 4px 0
  border-radius: 4px 0 4px 0

.help-box .docs-markdown:after
  content "Markdown"

.help-box .docs-html:after
  content "HTML"

