temp-boxing()
   border-width 1px
   border-color #000
   border-style double

DARKGREY_COLOR = #424242   
REDTONE_COLOR = #be2a2a
PINKTONE_COLOR = #a9646c
LIGHTBLUETONE_COLOR = #00678f
BULETONE_COLOR = #003761
   
vendor(prop, args)
   -webkit-{prop} args
   -moz-{prop} args
   -o-{prop} args
   {prop} args

border-radius()
   vendor('border-radius', arguments)

transform()
   vendor('transform', arguments)
   
@font-face
   font-family 'BebasNeueRegular'
   src url('/fonts/BebasNeue-webfont.eot')
   src url('/fonts/BebasNeue-webfont.woff') format('woff'), url('/fonts/BebasNeue-webfont.ttf') format('truetype'), url('/fonts/BebasNeue-webfont.svg#webfontYW4lu6A6') format('svg')
   font-weight normal
   font-style normal

body
   font 14px "Lucida Grande", Helvetica, Arial, sans-serif
   // background url('/images/common/tophead.jpg') top repeat-x
   
a
   text-decoration none
   color LIGHTBLUETONE_COLOR
   
a:focus,
a:hover
   color REDTONE_COLOR

// 헤더
header
   background-color DARKGREY_COLOR
   border-bottom 3px solid #CCC
   height 35px
   width 100%
   
   
header>div
   margin 0 auto
   width 950px
   padding 5px 10px 0 20px
   
header a
   color #FFF

#main-logo
   font normal 1.8em BebasNeueRegular, Arial, sans-serif
   letter-spacing 0.04em
   padding 7px 0 0 5px
   text-shadow 0 2px 1px #707070
   display inline
   
#main-logo a:focus,
#main-logo a:hover
   color #FFF

#betatag
   font-size 0.4em
   font-style normal
   padding 2px 3px 0 2px
   text-decoration none
   color #FFF
   text-shadow none
   background-color #e12e01
   top -8px
   left 0
   position relative
   border-radius 7px
   transform rotate(30deg)
   
header nav
   float right

header nav ul
   list-style none
   margin-top 5px

header nav ul li
   float left
   margin-right 20px
   font normal 1em BebasNeueRegular, Arial, sans-serif
   font-weight bold
   //text-shadow 0 1px 0 #FFF

header nav ul li a
   color: #CCC
   
header nav ul li a:focus,
header nav ul li a:hover
   color #FFF
   border-bottom-style solid
   border-bottom-color LIGHTBLUETONE_COLOR
   border-bottom-width 3px

header nav ul li.nomargin

#search
   float:right
   margin-right 15px

// 푸터
footer
   margin-top 20px
   padding 20px 0 20px 0
   border-top 1px solid #CCC
   text-align center
   font-size 0.8em

// 컨텐츠
#contents
   min-height 500px

#questionLists
   list-style none

#questionLists .question
   min-height 70px
   margin-bottom 5px
   padding 5px
   temp-boxing()

#questionLists .question span.viewcount,
#questionLists .question span.votecount,
#questionLists .question span.ansercount

#questionLists .question ul.tags
   list-style none
   margin 0
   padding 0

#questionLists .question ul.tags li
   margin 0
   padding 0
   float left
   margin-right 3px
   padding 2px
   temp-boxing()

#questionLists .question div.author time
   margin-left 10px

// 글 읽기
article ul.tags
   list-style none
   margin 0
   padding 0

article ul.tags li
   margin 0
   padding 0
   float left
   margin-right 3px
   padding 2px
   temp-boxing()

article span.votecount div
   display block

article nav
   clear both

article nav ul
   list-style none

article nav ul li
   float left
   margin-right 5px
   temp-boxing()
   
article div.author
   clear both

article div.author time
   margin-left 10px

article div.comments-list
   margin-top 10px

article div.comment
   margin-top 10px

article div.answers-list
   margin-top 20px

article div.answer
   margin-bottom 10px
   temp-boxing()

// 사이드바
#postBtn
   display block
   width 100%
   height 50px

#login
   margin-top 5px
   temp-boxing()

#login ul
   list-style none

#login ul li
   floatleft
   margin-right 5px