@main() {

  <div class="page-header login">
    <h1><small>구글, 트위터, 페이스북, 깃허브, 미투데이를 통해서 로그인할 수 있습니다.</small></h1>
    <ul class="unstyled">
      <li>
        <a href="#">
          <img src='@routes.Assets.at("/images/signin_google.png")' alt="Google로 로그인"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src='@routes.Assets.at("/images/signin_twitter.png")' alt="Twitter로 로그인"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src='@routes.Assets.at("/images/signin_facebook.png")' alt="Facebook로 로그인"/>
        </a>
      </li>
      <li>
        <a href="#">
          <img src='@routes.Assets.at("/images/signin_github.png")' alt="Github로 로그인"/>
        </a>
      </li>
    </ul>
  </div>

}
