<a id="postBtn" class="btn btn-large btn-danger" href="/questions/add">
  <i class="icon-upload-alt icon-white icon-large"></i> 질문하기
</a>
<div id="recently-questions" class="labelbox">
  <h4>최근 질문</h4>
  <ul class="unstyled">
    <li><a href="#">질문...</a></li>
    <li><a href="#">질문...</a></li>
    <li><a href="#">질문...</a></li>
  </ul>
</div>
<div id="recently-answers" class="labelbox">
  <h4>최근 답변된 질문</h4>
  <ul class="unstyled">
    <li><a href="#">질문...</a></li>
    <li><a href="#">질문...</a></li>
    <li><a href="#">질문...</a></li>
  </ul>
</div>
