@main() {

  <article class="help-box">
    <h2 class="header">마크다운 사용방법</h2>
    <section>
      <h3 class="title">제목</h3>
      <div class="row">
        <div class="docs-markdown">
          <p># 제목</p>
          <p>## 제목</p>
          <p>### 제목</p>
          <p>#### 제목</p>
          <p>##### 제목</p>
          <p>###### 제목</p>
        </div>
        <div class="docs-html">
          <h1>제목</h1>
          <h2>제목</h2>
          <h3>제목</h3>
          <h4>제목</h4>
          <h5>제목</h5>
          <h6>제목</h6>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">목록</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>* 리스트</p>
          <p>* 리스트</p>
          <p>* 리스트</p>
        </div>
        <div class="docs-html">
          <ul>
            <li>리스트</li>
            <li>리스트</li>
            <li>리스트</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="docs-markdown">
          <p>+ 리스트</p>
          <p>+ 리스트</p>
          <p>+ 리스트</p>
        </div>
        <div class="docs-html">
          <ul>
            <li>리스트</li>
            <li>리스트</li>
            <li>리스트</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="docs-markdown">
          <p>- 리스트</p>
          <p>- 리스트</p>
          <p>- 리스트</p>
        </div>
        <div class="docs-html">
          <ul>
            <li>리스트</li>
            <li>리스트</li>
            <li>리스트</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="docs-markdown">
          <p>1. 리스트</p>
          <p>1. 리스트</p>
          <p>1. 리스트</p>
        </div>
        <div class="docs-html">
          <ol>
            <li>리스트</li>
            <li>리스트</li>
            <li>리스트</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="docs-markdown">
          <p>1. 리스트</p>
          <p>2. 리스트</p>
          <p>3. 리스트</p>
        </div>
        <div class="docs-html">
          <ol>
            <li>리스트</li>
            <li>리스트</li>
            <li>리스트</li>
          </ol>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">중첩 목록<small>공백을 4칸 들여쓰고 리스트 기호간에 섞어 쓸 수 있다.</small></h3>
      <div class="row">
        <div class="docs-markdown">
          <p>* 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;- 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;- 리스트</p>
          <p>* 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;+ 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;+ 리스트</p>
        </div>
        <div class="docs-html">
          <ul>
            <li>리스트
              <ul>
                <li>리스트</li>
                <li>리스트</li>
              </ul>
            </li>
            <li>리스트
              <ul>
                <li>리스트</li>
                <li>리스트</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="docs-markdown">
          <p>- 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1. 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1. 리스트</p>
          <p>- 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;1. 리스트</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;2. 리스트</p>
        </div>
        <div class="docs-html">
          <ul>
            <li>리스트
              <ol>
                <li>리스트</li>
                <li>리스트</li>
              </ol>
            </li>
            <li>리스트
              <ol>
                <li>리스트</li>
                <li>리스트</li>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">링크</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>[구글](http://google.com)</p>
          <p>[스택오버플로우](http://stackoverflow.com/ "스택오버플로우")</p>
          <p>&lt;http://www.quora.com/&gt;</p>
          <p>[트위터][twitter], [페이스북][1], [구글+][2]</p>
          <p></p>
          <p>[twitter]: http://twitter.com</p>
          <p>[1]: http://facebook.com</p>
          <p>[2]: http://plus.google.com</p>
        </div>
        <div class="docs-html">
          <p><a href="http://google.com">구글</a></p>
          <p><a href="http://stackoverflow.com/" title="스택오버플로우">스택오버플로우</a></p>
          <p><a href="http://www.quora.com/">http://www.quora.com/</a></p>
          <p>
            <a href="http://twitter.com">트위터</a>,
            <a href="http://facebook.com">페이스북</a>,
            <a href="http://plus.google.com">구글+</a>
          </p>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">인용문</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>오비완 케노비가 루크 스카이워커에게 말했다</p>
          <p>&gt;Use the Force, Luke</p>
        </div>
        <div class="docs-html">
          <p>오비완 케노비가 루크 스카이워커에게 말했다.</p>
          <blockquote>
            <p>Use the Force, Luke</p>
          </blockquote>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">이탤릭체, 볼드체</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>*이탤릭체*입니다</p>
          <p>_이탤릭체_입니다</p>
          <p>**볼드체**입니다</p>
          <p>__볼드체__입니다</p>
        </div>
        <div class="docs-html">
          <p><em>이탤릭체</em>입니다</p>
          <p><em>이탤릭체</em>입니다</p>
          <p><strong>볼드체</strong>입니다</p>
          <p><strong>볼드체</strong>입니다</p>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">코드</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>`var foo = "var";`와 같이 사용합니다</p>
          <p>``var foo = "var";``와 같이 사용합니다</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;function foo() {</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return "var";</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
        </div>
        <div class="docs-html">
          <p><code>var foo = "var";</code>와 같이 사용합니</p>
          <p><code>var foo = "var";</code>와 같이 사용합니</p>
          <pre><code>function foo() {
  return "var";
}</code></pre>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">이미지</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>![깃허브 로그인버튼](@routes.Assets.at("/images/signin_github.png"))</p>
        </div>
        <div class="docs-html">
          <p><img src='@routes.Assets.at("/images/signin_github.png")' alt="깃허브 로그인버튼"/></p>
        </div>
      </div>
    </section>
    <section>
      <h3 class="title">수평선</h3>
      <div class="row">
        <div class="docs-markdown">
          <p>* * *</p>
          <p>***</p>
          <p>******</p>
          <p>- - -</p>
          <p>-------</p>
        </div>
        <div class="docs-html">
          <p><hr></p>
          <p><hr></p>
          <p><hr></p>
          <p><hr></p>
          <p><hr></p>
        </div>
      </div>
    </section>
  </article>

}
