extends layout

block mainContent
  ul#questionLists
    - var questions = [1,2,3,4,5,6,7,8]
    each c in questions
      li.question
        div.infomation
          span.votecount(title='투표 수') 20
          span.answercount(title='답변 수') 30
        a(href='/question/123/')
          h4 모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 모든 국민은 사생활의 비밀과 자유를 침해받지 아...
        .row
          ul.unstyled.tags
            li.tag
              a(href="#").btn.btn-mini
                i.icon-tag
                |  python
            li.tag
              a(href="#").btn.btn-mini
                i.icon-tag
                |  java
            li.tag
              a(href="#").btn.btn-mini
                i.icon-tag
                |  node.js
            li.tag
              a(href="#").btn.btn-mini
                i.icon-tag
                |  ruby
          .author
            a(href='/')
              img(src='https://convore2.s3.amazonaws.com/userpics/3795/1297298357.jpg', alt='Avatar for tbeseda', title='tbeseda')
            a(href='/') Outsider
            time 1주일 전
