@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Curlybrace</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.Assets.at("components/bootstrap/docs/assets/css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
    <script type='text/javascript' src='@routes.Assets.at("components/jquery/jquery.min.js")'></script>
    <script type="text/javascript" src="@routes.MessageController.javascriptRoutes"></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
</body>
</html>